h1{
    font-family: "Roboto Mono";
}

.gameboard{
    display: flex;
    flex-direction: column;
}

.boardRow{
    display: flex;
    flex-direction: row;
}

.boardRow div {
    border: 1px solid black;
    width: 60px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.crosses{
    color: red;
    background-color: rgb(245, 134, 134);
}

div.naughts{
    color: green;
    background-color: rgb(141, 218, 141);
}

h1.crosses{
    color: red;
}

h1.naughts{
    color: green;
}